# Configuration files for different network environments

## Testnet Config
ARC_TESTNET_CHAIN_ID=2147483647
ARC_TESTNET_RPC=https://testnet-rpc.arc.io
ARC_TESTNET_EXPLORER=https://testnet-explorer.arc.io

## Mainnet Config
ARC_MAINNET_CHAIN_ID=0
ARC_MAINNET_RPC=https://mainnet-rpc.arc.io
ARC_MAINNET_EXPLORER=https://explorer.arc.io

## Token Info
TOKEN_NAME=Arc Payment Token
TOKEN_SYMBOL=ARC
TOKEN_DECIMALS=18
